$btnColors: #2852c4, #67c23a, #8b590f, #f54343, #6c6d71;

@for $i from 1 through length($btnColors) {
  .btn.btn-#{$i} {
    $color: nth($btnColors, $i);
    background-color: $color;
    color: #fff;
    padding: 8px 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: lighten($color, 10%);
    }
    &:active {
     background-color: darken($color, 10%);
    }
    &:disabled {
      background-color: lighten($color, 20%);
      cursor: not-allowed;
    }
  }
}